tensorflow-macos
tensorflow-metal
tensorboard
tf_slim
opencv-python
matplotlib
absl-py
astor
backports.functools-lru-cache
backports.weakref
bleach
boto
boto3
botocore
bz2file
certifi
chardet
contextlib2
cycler
Cython
docutils
enum34
flask
funcsigs
gast
gensim
grpcio
h5py
html5lib
idna
jmespath
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
mock
numpy
pbr
Pillow
protobuf
psutil
pycocotools
pyparsing
Pypubsub
python-dateutil
pytz
PyYAML
requests
s3transfer
scikit-learn
scikit-image
scipy
six
smart-open
subprocess32
termcolor
typing
urllib3
Werkzeug
XlsxWriter
multiprocess
thread6